<div class="footer">
  <div class="container d-flex text-center mb-4" style="position: relative; left: 25rem">
      <div class="about-us">
        <h4> Save Time, Save Money! </h4>
          <p>Sign up and we'll send the best deals to you. </p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Subscribe</button>
              </div>
            </div>
      </div> 
  </div>
  
      <div class="text-center pt-4 border-top border-white">
        <h4>BOOKING.COM</h4>
        <small> Copyright 2022 BOOKING.COM | All rights reserved </small>
    </div>
</div>
