  

      <form action="/search">
        <div class="inner-form border rounded shadow-sm">
          <div class="input-field first-wrap">
            <div class="icon-wrap">
              <span class="material-symbols-outlined">pin_drop</span>
            </div>
             <input class="form-control mr-sm-2" name ="q" type="search" placeholder="Enter a destination" aria-label="Search">

          </div>
          <div class="input-field second-wrap">
            <div class="icon-wrap">
              <span class="material-symbols-outlined">event</span>
            </div>
            <input class="datepicker"  id="booking_start" type="text" placeholder="Start date" />
          </div>
          <div class="input-field third-wrap">
            <div class="icon-wrap">
              <span class="material-symbols-outlined">event</span>
            </div>
            <input class="datepicker" id="booking_end" type="text" placeholder="End date" />
          </div>
          <div class="input-field fouth-wrap">
            <div class="icon-wrap">
             <span class="material-symbols-outlined">person</span>
            </div>
            <select data-trigger="" name="choices-single-default">
              <option placeholder="">1 Adults</option>
              <option>2 Adults</option>
              <option>3 Adults</option>
              <option>4 Adults</option>
              <option>5 Adults</option>
            </select>
          </div>

          <div class="input-field fifth-wrap">
            <button class="btn-search" type="submit">SEARCH</button>
          </div>
        </div>
      </form>


    
   