<div class="container">
<div class="col-md-6 col-md-offset-3 border shadow p-3 mb-5 bg-white rounded my-5">
<h3 class="my-4 d-flex justify-content-center">Edit Room</h3>

<%= render "rooms/form" %>
</div>
</div>
