<div class="container">
    <h3> Greetings from Booking.com </h3>
    <p>Hello <%= @booking.user.username %>, </p>
    <p> Thanks for choosing Booking.com, We regret to inform you that your booking has been rejected.</p>
    <p> We are sorry for the inconvenience caused. </p>
    <p> Please contact us for more details. </p>
    <p> Thanks & Regards </p>
    <p> Booking.com </p>
</div>
    